@model MVC5HomeWork01.Models.客戶資料

@{
    ViewBag.Title = "Details";
}

<h2>客戶資料檢視</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
     
        <dt>
            @Html.DisplayNameFor(model => model.客戶名稱)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.客戶名稱)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.統一編號)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.統一編號)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.電話)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.電話)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.傳真)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.傳真)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.地址)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.地址)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("新增客戶聯絡人", "Create", "客戶聯絡人", new { id = Model.Id }, null) |
    @Html.ActionLink("新增客戶銀行資訊", "Create", "客戶銀行資訊", new { id = Model.Id }, null) |
    @Html.ActionLink("修改", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("刪除", "Delete", new { id = Model.Id }) |
    @Html.ActionLink("返回列表", "Index")

   
</p>
