@model IEnumerable<MVC5HomeWork01.Models.V_總覽>

@{
    ViewBag.Title = "Index";
}

<h2>客戶資料檢視</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            客戶名稱
        </th>
        <th>
            聯絡人數量
        </th>
        <th>
            銀行資訊數量
        </th>
        @*<th></th>*@
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(@item.客戶名稱, "Details", "客戶資料", new { id=item.Id},null)
        </td>
        <td>
            @item.CntaCnt
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.BankCnt)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
    </tr>
}

</table>
